.registerDesign {
    height: 88vh;
    width: 100vw;

    background-color: lightskyblue;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

.error {
    height: 1em;
    color: red;
}

.successfully {
    height: 1em;
    color: black;
    font-weight: bold;
}