.containerNewMatch {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.createNewMatch {
    height: 88vh;
    width: 30vw;

    overflow-y: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rosybrown;
}

.containerCards {
    height: 88vh;
    width: 70vw;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;

}

.cardNewMatch {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1em;
    margin-left: 0em;
}

.cardsButton {
    display: flex;
    flex-direction: column;

    background-color: wheat;
    border: none;
}

.cardsButton:focus {
    outline: none;
}

.position {
    display: flex;
    flex-wrap: wrap;

    margin: 1em;
}

.dateNewMatch {
    height: 2em;
    width: 10em;

    border: none;
    /* background-color: wheat; */
    color: black;
    margin: 0.1em;
}



.playersNewMatch {
    height: 2em;
    width: 2em;

    border: none;
    margin: 0.1em;

}

.signedNewMatch {
    height: 2em;
    width: 2em;

    border: none;
    margin: 0.1em;

}

.informationNewMatch{
    height: 2em;
    width: 18em;

    border: none;
    margin: 0.1em;

}

.courtNewMatch {
    height: 2em;
    width: 18em;

    border: none;
    margin: 0.1em;

}

.buttonDeleteNewMatch {
    height: 1em;
    width: 5em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(192, 191, 191);
    margin: 0.5em;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
}

.buttonDeleteNewMatch:hover {
    background-color: rgb(238, 25, 25);
    color: white;
}

.buttonDeleteNewMatch:focus {
    outline: none;
}  

.cInputNewMatch {
    width: 13em;
    height: 2em;

    border-radius: 0.5em;
    margin-top: 2em;
    border: 0.1em solid black;
}

.cInputNewMatchInfo {
    height: 5em;
    width: 20em;

    border-radius: 0.5em;
    border: 0.1em solid black;
    margin-top: 2em;
    resize: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.buttonCreateMatch {
    width: 9em;
    height: 2.5em;

    border-radius: 0.5em;
    margin-top: 2em;
    background-color:  rgba(255, 254, 254, 0.589);
    color: black;
    border: none;
    cursor: pointer;
}

.buttonCreateMatch:hover {
    background-color:rgba(192, 121, 28, 0.664);
}

.buttonCreateMatch:focus {
    outline: none;
}