.profileDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.dataProfile {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: 0.2em solid black;
}

.colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonEditProfile {
    height: 2em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    /* border: 3.5px solid white; */
    border: none;
    margin-bottom: 2em;
}

.buttonEditProfile:hover {
    /* background: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 100%); */
    color: black;
    /* border-color: white; */
    border: 0em;
    background-color: white;
}

.buttonEditProfile:focus {
    outline: none;
}

.positionProfile {
    height: 2em;
    width: 10em;

    color: black;
    background-color: transparent;
    text-align: center;
    border: none;
    font-size: 1.2em;
    margin-bottom: 2em;
}

.image {
    height: 7em;
    width: 7em;

    border-radius: 50%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.nicknameProfile {
    height: 2em;
    width: 10em;

    text-align: center;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
}

.presentationProfile {
    height: 5em;
    width: 20em;

    border: none;
    margin-left: 1em;
    resize: none;
    background-color: transparent;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.positionCardProfile {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 9em;
    margin-right: 9em;

}

.buttonCardProfile {
    height: 10em;
    width: 20em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: rgba(255, 255, 255, 0.5);
    margin: 1em;
    border: none;
}

.buttonCardProfile:focus {
    outline: none;
}

.rowCardProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.space {
    width: 3em;
}