.matchDesign {
    height: 88vh;
    width: 100vw;

    background-color: lightseagreen;

    overflow-y: auto;
}

.positionMatchCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 15em;
    width: 20em;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(241, 252, 225);
    margin: 1em;
    border-radius: 0.5em;
    border: 0;
}

.buttonMatchDetail {
    height: 15em;
    width: 20em;

    background-color: rgb(241, 252, 225);
    border: none;
}

.buttonMatchDetail:focus {
    outline: none;
}

.buttonAssistance {
    background-color: rgb(247, 206, 131);
    border: none;
}

.buttonAssistance:focus {
    outline: none;
}

.margin{
    margin: 0.5em;
}

.buttonNewMatch {
    height: 3em;
    width: 3em;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0em -4em 3em;
}

.buttonNewMatch:focus {
    outline: none;
}

.add {
    height: 3em;
    width: 3em;
    background-color: transparent;
    border-radius: 0.5em;
}

.add:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 0.6em;
    transition: 0.5s;
}