.headerDesign {
    height: 12vh;
    width: 100vw;
    
    background-color: burlywood;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ballNavBar {
margin-left: 1em;
}

.ball {
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 3em;
    width: 3em;
}

.positionNavBar {
    display: flex;
}

.logOutDesign {
    color: gray;
    font-weight: bold;

    margin: 1em;

    transition: 0.3s;
}

.logOutDesign:hover {
    transition: 0.3s;
    color: black;
    cursor: pointer;
}