.CourtDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.courtCard {
    height: 7em;
    width: 35em;

    border-radius: 0.3em;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.5);
    margin: 0.5em;
    color: black;
}

.buttonFav {
    height: 2em;
    width: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 0em;
    background-color: transparent;
}

.buttonFav:hover {
    border:0em;
}

.buttonFav:focus {
    outline: none;
}

.textCourt {
    font-size: 1.3em;
    font-weight: bold;
}

.starCourt {
    height: 2em;
    width: 2em;

    cursor: pointer;
    background-color: transparent;
}

.starCourt:hover {
    transform: scale(1.15);
}

.rowCourt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.maps {
    margin-top: 0.5em;
    color: black;
}