.adminDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.containTable {
    width: 90%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, transparent 95%, rgb(0, 0, 0) 80%);
    margin-left: 2em;
    margin-right: 2em;
    user-select: none;
}

.table {
    width: 74%;
    margin: 1em;
    background-color: rgb(228, 228, 228);
    overflow-y: auto;
    font-size: small;
}

.header {
    background-color: #f2f2f2;
    user-select: none;
}

.table td {
    padding: 3px;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.buttonTableAdmin {
    background-color: transparent;
    border: none;
}

.buttonTableAdmin:hover {
    font-weight: bold;
}

.buttonTableAdmin:focus {
    outline: none;
}

.buttonDeleteAdmin {
    height: 2.5em;
    width: 2em;
    background-color: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.buttonDeleteAdmin:focus {
    outline: none;
}

.logoDelete {
    height: 2em;
    width: 2em;
}

.logoDelete:hover {
    transform: scale(1.15);
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonAnterior {
    height: 2em;
    width: 2.5em;
    border: none;
    margin-top: 0.05em;
    margin-bottom: 0.2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonAnterior:disabled {
    background-color: #d3d3d3;
    opacity: 0.6;
    cursor: default;
}

.buttonAnterior:focus {
    outline: none;
}

.buttonSiguiente {
    height: 2em;
    width: 2.5em;
    margin-top: 0.05em;
    margin-bottom: 0.2em;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSiguiente:disabled {
    background-color: #d3d3d3;
    opacity: 0.6;
    cursor: default;
}

.buttonSiguiente:focus {
    outline: none;
}

.logoArrow {
    height: 1.5em;
    width: 1.5em;
}

.numberPage {
    font-weight: bold;
}

.spacePaginate {
    width: 1em;
}