.matchDetailDesign {
    height: 88vh;
    width: 100vw;

    background-color: mediumturquoise;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.cardMatchDetail {
    height: 18em;
    width: 35em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.5);
    margin: 1em;
    border-radius: 0.5em;
    border: 0;
    padding: 1em;
}

.text {
    margin: 0.5em;
    color: black;
}

.logoMaps {
    height: 2em;
    width: 2em;
}

.buttonMaps {
    height: 2em;
    width: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.buttonMaps:hover {
    scale: 1.1;
}

.buttonMaps:focus {
    outline: none;
}

.direction {
    margin-left: 0.5em;
}